<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <title>spring</title>
</head>
<nav>
    <header>
        <h1>spring</h1>
        <input type="text" name="keyword" placeholder="キーワード検索">
        <div>投稿</div>
    </header>
</nav>

<nav class="menu">
    <a href="/blog">ホーム</a>
    <a href="">プロフィール</a>
</nav>
</html>