/* blogの指定 */
body{
    align-items: center;
}

.home {
    display: flex;
    align-content: column;
    gap: 25px;
    width: 100%;
    max-width: 1300px;
    margin: 0 30px;
}

.colams{
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    margin: 0 auto;
    align-items: center;
}

.colam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
}

.colam h3{
    border-bottom: 1px solid #000;
}


/* メニューの設定 */
.menu {
    display: flex;
    flex-direction: column;
    left: 30px;
    top: 0;
    width: 40%;
    max-width: 100px;
}

.menu a {
    margin-bottom: 20px;
}

/* blognewの指定 */
.newhome {
    display: flex;
    align-content: center;
    position: relative;
}

.newblog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    max-width: 600px;
    border: #000;
    margin: 0 170px;
}

.newblog input{
    margin-bottom: 20px;
}
.newblog textarea{
    margin-bottom: 20px;
}

/* detailの設定 */
.detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 50px;
}

.detail h1{
    border-bottom: 1px solid #000;
}

.detail h3, p{
    white-space: pre-wrap;
}

.delete{
    background: none;
    border: none;
    color: red;
    margin: 0 0 0 95%;
    cursor: pointer;
}

