/* blogの指定 */
.home {
    display: flex;
    align-content: center;
    position: relative;
}

.colam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    max-width: 600px;
    border: #000;
    margin: 0 170px;
    border: 1px solid #000;
}

/* メニューの設定 */
.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 0;
    width: 20%;
    max-width: 100px;
}

.menu a {
    margin-bottom: 20px;
}

/* blognewの指定 */
newblog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    max-width: 600px;
    border: #000;
    margin: 0 170px;
}