<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>All Blogs</title>
</head>

<body>
    <header th:replace="~{fragments/layout}"></header>
    <div class="home">
        <nav class="menu">
            <a href="/blog">ホーム</a>
            <a href="">プロフィール</a>
        </nav>
        <div class="colams">
            <div class="colam" th:each="blog : ${Blogs}">
                <a href="/blog/{id}/colam({id}=${blog.id})"><h3 th:text="${blog.title}">title</h3></a>
                <p th:text="${blog.maintext}">見出し</p>
            </div>
        </div>
    </div>

</body>

</html>